$high-emph: rgba(white, 0.87);
$med-emph: rgba(rgb(155, 155, 155), 0.90); //Noicee
$low-emph: rgba(rgb(130, 130, 130), 0.90);
$dirt : #009393ff; 
// $dark-grey : #926c4d;
$overlay: mix($dirt, white, 95%);
$overlay-light: mix($dirt, white, 86%);

html, body, input, textarea, select, button {   
  color: $high-emph !important;
  background-color: $dirt !important;
}

a {
    color: rgb(195, 195, 195) !important;
}

a:hover {
    color:$high-emph !important;
}

.site-title, .site-title:visited, .site-nav, .page-link {
    color: $high-emph !important;
}

.site-nav {
    background-color: $dirt;
    border-color: $overlay-light;
}

* {
    scrollbar-color: $dirt $overlay-light;
}

pre, code {
    // BVas a lighter colour to better highlight short code words
    border-color: $overlay-light;
    background-color: $overlay;
}

.page-description {
    color: $med-emph;
}

.post-meta {
    color: $low-emph;
}

.post-content p, .post-content li {
    color: $med-emph;
}

.btn {
    background-color: $overlay !important;
    color: $high-emph !important;
    border-color: $overlay-light !important;
}

.btn:hover {
    background-color: $dirt !important;
}

table th{
    background-color: $overlay;
    border-color: $overlay-light;
    color: $high-emph;
}

table td{
    background-color: $dirt;
    border-color: $overlay-light;
    color: $med-emph;
}

.flash {
    color: $dirt !important;
    filter: brightness(80%);
}

canvas {
    filter: invert(100%);
}

.post-list > li > div {
    box-shadow: none !important;
    background-color: $overlay;
    border: none !important;
}

li .post-meta-description {
    color: $med-emph !important;
}